$padding: 10px;
$margin: 25px;
$fontNav: Jaro, Arial;
$fontText: "Josefin Slab", Arial;
$fontH1: Orbitron, Arial;
$fontVariavel: Danfo, Arial;
$cor1: #A63247;
$cor2: #A66D7C;
$cor3: #40152D;
$cor4: #92A699;
$cor5: #F2AB6D;
$corP: #649563;
$corS: #174015;




* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url();
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
}

.navbar {
    background: $cor3;

    .navbar-brand {
        img {
            width: 150px;
        }
    }

    .navbar-nav .nav-link.show {
        color: $corP;
        text-decoration: underline;
        text-shadow: 2px 0px 0px $corS;
    }

    .dropdown-menu {
        border-top: 5px solid $corP;
        border-bottom: 5px solid $corP;
        border-radius: 0;
        background: $corS;
        .dropdown-item {
            font-family: $fontNav;
            font-size: 20px;
            color: $corP;
            &:hover {
                color: $corS;
                background: $corP;
                
            }
        }
    }
   

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-family: $fontNav;
                font-size: 25px;
                font-weight: bold;
                color: $cor1;
                

                &:hover {
                    color: $corP;
                    text-shadow: 2px 0px 0px $corS;
                }
            }
        }
        .dropdown {
            .dropdown-toggle {
    
                color: $corP;
    
                &:hover {
                    color: $corP;
                    text-decoration: underline;
                }
            }
        }
    }
}

footer {
    background-color: $cor3;

    p {
        font-family: $fontText;
        text-align: center;
        color: white;
        font-weight: bold;
    }
}

.img-erro {
    display: flex;
    margin: auto;
}