$padding: 10px;
$margin: auto;
$text: center;
$font: Jersey+10, Arial;
$background: auto;
$cor1: #192E59;
$cor2: #2D3073;
$cor3: #416EF2;
$cor4: #F2D888;
$cor5: #F29472;


* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(imagens/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
}

main {
    margin-top: 150px;
    h1{ 
         text-align: $text;
         font: 2em $font;
    }
    p {
        text-align: $text;
    }
}

footer {
    background-color: $cor1;
    p {
        text-align: $text;
        color: white;
    }
}