$padding: 10px;
$margin: 25px;
$text: center;
$font: Montserrat, Arial;
$background: auto;
$cor1: #192E59;
$cor2: #2D3073;
$cor3: #416EF2;
$cor4: #F2D888;
$cor5: #F29472;
$M500px: ;
$M900px: ;



* {
    padding: 0;
    margin: 0;
    font-family: $font;
}

header {
    display: flex;
    justify-content: space-between;
    background: $cor4;
    width: 100%;
    position: fixed;
    top: 0;

    img {
        width: 15%;
    }

    nav {

        ul {
            padding-top: 15px;
            display: inline-block;
            float: right;
            margin: $margin;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: $cor3;
                    text-shadow: 1px 1px 1px black;
                    font-size: 18px;
                    font-weight: bold;
                }

                a:hover {
                    color: $cor2;
                    transition: 0.5s;
                }
            }
        }
    }
}

body {
    background-image: url();
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
}

.video {
    video {
        margin-top: 100px;
        width: 100%;
    }
}

main {

    margin-top: 150px;

    h1 {
        text-align: $text;
    }

    p {
        text-align: $text;
    }
}

footer {
    background-color: $cor1;

    p {
        text-align: $text;
        color: white;
    }
}

@media (max-width: 1150px) {
       

    * {
        box-sizing: border-box;
    }
}